<%- include("template/cabecera.ejs", {tituloWeb:'404 Not Found'}) %>
<div class="container">
    <h2><%= titulo %></h2>
    <h2><%= descripcion %></h2>
</div>   


    <%- include("template/footer.ejs") %>